/* ==========================================================================
   Body Container
========================================================================== */

.body-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: 1fr 9fr 5rem;
    grid-template-columns: 1fr;
    height: 100vh;
    gap: 3rem;
}

/* Body Item IDs */

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

/* ==========================================================================
   Header Container
========================================================================== */

.header-container {
    display: grid;
    grid-template-areas:
    "zip-form current-location header-heading";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    place-items: center;
}

/* Header Item IDs */

#zip-form {
    grid-area: zip-form;
}

#current-location {
    grid-area: current-location;
}

#header-heading {
    grid-area: header-heading;
}

/* Form Container
========================================================================== */

.form-container {
    display: grid;
    grid-template-areas:
    "search-label zip-input submit-button"
    "history-label dropdown load-button";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 3fr 1fr;
    width: 75%;
    height: 100%;
    place-items: center;
}

/* Form Item IDs */

#search-label {
    grid-area: search-label;
}

#history-label {
    grid-area: history-label;
}

#zip-input {
    grid-area: zip-input;
}

#submit-button {
    grid-area: submit-button;
    place-self: center start;
}

#dropdown {
    grid-area: dropdown;
}

#load-button {
    grid-area: load-button;
    place-self: center start;
}

/* ==========================================================================
   Main Containers
========================================================================== */

.search-container {
    display: grid;
    grid-template-areas: 
    "top top top"
    "left center right"
    "bottom bottom bottom";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 75%;
    place-items: center;
    text-align: center;
    margin: 0 auto;
    gap: 3rem;
}

/* Search Item Ids */

#top {
    grid-area: top;
    width: 33%
}

#left {
    grid-area: left;
}

#center {
    grid-area: center;
}

#right {
    grid-area: right;
}

#bottom {
    grid-area: bottom;
}

.result-container {
    display: grid;
    grid-template-areas:
    "sidebar1 main-section"
    "sidebar2 main-section";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 2fr;
    height: 100%;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    gap: 3rem;
}

/* Main Item IDs */

#main-section {
    grid-area: main-section;
}

#sidebar1 {
    grid-area: sidebar1;
}

#sidebar2 {
    grid-area: sidebar2;
}

/* Main Section Container
========================================================================== */

.main-section-container {
    display: grid;
    grid-template-areas:
    "main-section-heading main-section-heading"
    "item0 item1"
    "item2 item3"
    "main-section-footer main-section-footer";
    grid-template-rows: 0.75fr repeat(2, 2fr) 0.5fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 80%;
    place-items: center;
    margin: 0 auto;
    gap: 3rem;
}

/* Main Section Item IDs */

#main-section-heading {
    grid-area: main-section-heading;
}

#item0 {
    grid-area: item0;
}

#item1 {
    grid-area: item1;
}

#item2 {
    grid-area: item2;
}

#item3 {
    grid-area: item3;
}

/* Main section items */

.crop {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}

/* Sidebar1 Container
========================================================================== */

.sidebar1-container {
    display: grid;
    grid-template-areas:
    "sidebar1-heading"
    "zone-result";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    height: 100%;
    place-items: center;
}

/* Sidebar1 Item Ids */

#sidebar1-heading {
    grid-area: sidebar1-heading;
}

#zone-result {
    grid-area: zone-result;
    place-self: start center;
}

/* Sidebar2 Container
========================================================================== */

.sidebar2-container {
    display: grid;
    grid-template-areas:
    "sidebar2-heading sidebar2-heading"
    "per-heading per-result"
    "ann-heading ann-result";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    place-items: center;
}

/* Sidebar2 Item IDs */

#sidebar2-heading {
    grid-area: sidebar2-heading;
}

#per-heading {
    grid-area: per-heading;
}

#per-result {
    grid-area: per-result;
}

#ann-heading {
    grid-area: ann-heading;
}

#ann-result {
    grid-area: ann-result;
}

/* ==========================================================================
   Footer Container
========================================================================== */

.footer-container {
    display: grid;
    grid-template-areas:
    "link1 link2";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    place-items: center;
}

/* Footer Item IDs */

#link1 {
    grid-area: link1;
}

#link2 {
    grid-area: link2;
}

/* Error Modal Container
========================================================================== */

#error-modal {
    width: 25%;
    height: 25%;
    margin: auto;
}

.modal-container {
    display: grid;
    grid-template-areas:
    "error-txt"
    "error-code"
    "error-button";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    height: 100%;
    place-items: center;
}