@font-face {
    font-family: Asap;
    src: url("../fonts/Asap.ttf");
}

.restrict {
    opacity: 0.5;
}

.gradient-background {
    background: radial-gradient(rgb(248, 198, 73),yellowGreen)
}

body .body-container {
    font-family: Asap;
    margin-bottom: 100px;
}

body h1 {
    letter-spacing: .02em;
    font-weight: 900;
    font-size: 40px;
}

body h2 {
    font-weight: 600;
    font-size: 30px;
}

body h3 {
    font-weight: 500;
    font-size: 20px;
}

body p {
    font-weight: 500;
    font-size: 20px;
}

body button {
    font-weight: 700;
}

#main {
    background-image: url("/assets/images/FALL\ SEP1\ -\ NOV\ 30.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#zone-result {
    font-size: 40px;
}