@font-face {
    font-family: Asap;
    src: url("../fonts/Asap.ttf");
}

.restrict {
    opacity: 0.5;
}

.gradient-background {
    background: radial-gradient(rgb(248, 198, 73),yellowGreen)
}

body .body-container {
    font-family: Asap;
    margin-bottom: 50px;
}


#main {
    background-image: url("../images/FALL\ SEP1\ -\ NOV\ 30.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient-background {
    background: radial-gradient(rgb(248, 198, 73),yellowGreen)
}

#zone-result {
    font-size: 40px;
}
